body{
    background-color: #212529;
    color: white;
}
.nav-b{
    color: white;
    font-weight: 700;
}
.nav-b:hover{
    color: #ff6a00;
}
.footerbg{
    background-color: #000B25;
    
}
.colortitle{
    color: #ff6a00;
    font-weight: 700;
}
/*LinkBottoms*/
.link-color{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.link-color:hover{
    color: #ff6a00;
}
.bg-color-1{
    background-color: #1c212a;
    border-bottom: #2c3135 1px solid;
}
/*Color de el container*/
.bg-color-blue{
    background-color: #1c212a;
    color: white;
}
/*Color de el container-1*/
.bg-content-1{
    color: white;
    background-color: #ff6a00;
    text-decoration: none;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}
.bg-content-1:hover{
    transform: scale(1.05);
    color: black;
}
/*Cart Style*/
.card-border{
    border-radius: 15px;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
    border: 3px solid orange;
}
/*Tamaño de grueso de letra dentro de card*/
.text-img{
    font-weight: 700;
}
/*Botton narranga*/
.bottom_orange{
    color: white;
    background-color: #ff6a00;
    font-weight: 700;
}
/*Style de la tierlist*/
.valkyrie-profile{
    background-color: #212529;
    border-radius: 5px;
}
.name-valk-roll{
    background-color: #496480;
    padding: 2.5px;
}

/*Container de los retratos de las valkyries*/
.valkyrie-port{
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 5px;
}
.valkyrie-port a{
    width: 100%;
    height: 100%;
}
.valkyrie-port img{
    border-radius: 10px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.valkyrie-port img:hover{
    border-top: 5px solid rgb(0, 89, 255);
    border-bottom: 5px solid rgb(0, 89, 255);
}
/*Background de los retratos de las valkyries*/
.mecha{
    background-color: #25beec;
    background-image: url(../img/backgrount-avatar.png);
}
.bio{
    background: #fb8d05;
    background-image: url(../img/backgrount-avatar.png);
}
.phy{
    background-color: #b121bb;
    background-image: url(../img/backgrount-avatar.png);
}
.qua{
    background-color: #6815fb;
    background-image: url(../img/backgrount-avatar.png);
}
/*Bordes de los retratos de las valkyries*/
.valkyrie-port-border-1{
    border-radius: 10px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.valkyrie-port-border-2{
    border-radius: 10px;
    border-top: 5px solid #00a2ff;
    border-bottom: 5px solid #00a2ff;
}
.valkyrie-port-border-3{
    border-radius: 10px;
    border-top: 5px solid #10e222;
    border-bottom: 5px solid #10e222;
}

/*Background de los retratos de los equipamientos*/
.normal_equip{
    background-color: #0099ff;
}
.eqic_equip{
    background-color: #b121bb;
}
.pri-arm{
    background: rgb(255,137,2);
    background: radial-gradient(circle, rgba(255,137,2,1) 0%, rgba(195,104,0,1) 100%);
}
/*Style del perfil de las valkyries*/
/*Background del container de las valkyries*/
.bg_brigde_valk{
    background-image: url(../img/bridge.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    height: 150px;
}
/*Tamaño de la imgen de rango del perfil de las valkyries*/
.rank_img{
    width: 60px;
    height: 50px;
}

.img-prev{
    width: 50%;
}
/*Cambio en res*/
@media (max-width: 576px) { 
    .valkyrie-port{
        width: 25%;
    }
    .bottom_orange{
        width: 80%;
    }
    .equip-valk{
        width: 150px;
        height: 150px;
    }
    .img-prev{
        width: 100%;
    }
    .nav-valk{
        width: 100%;
        text-align: center;
        border-bottom: #2c3135 1px solid;
    }
    .nav-web{
        width: 100%;
        text-align: center;
        border-bottom: #2c3135 1px solid;
    }
    .nav-valk-bar{
        padding: 0;
    }
    .valkyrie-title{
        text-align: right;
        float: right;
    }
    .valkyrie-type{
        display: flex;
        align-items: stretch;
        justify-content: end;
    }
    .skill-icon{
        width: 100%;
    }
 }
 @media (min-width: 576px) { 
    .valkyrie-port{
        width: 20%;
    }
    .bottom_orange{
        width: 70%;
    }
    .equip-valk{
        width: 150px;
        height: 150px;
    }
    .img-prev{
        width: 100%;
    }
    /*Formulario*/
    .footerdown {
        position: fixed;
        bottom: 0;
     }
     .img-prev{
        width: 100%;
    }
    .nav-valk-bar{
        padding: 10px;
    }

 }

@media (min-width: 768px) { 
    .valkyrie-port{
        width: 16.5%;
    }
    .bottom_orange{
        width: 40%;
    }
    .equip-valk{
        width: 150px;
        height: 150px;
    }
    .img-prev{
        width: 100%;
    }
 }


@media (min-width: 992px) { 
    .valkyrie-port{
        width: 10%;
    }
    .equip-valk{
        width: 150px;
        height: 150px;
    }
    .img-prev{
        width: 50%;
    }
 }

 .valkyrie-type{
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-valk{
    width: 36px;
}
.text-color{
    color: white;
    font-weight: 700;
}
/**Text Color Skill**/
.text-title-skill{
    color: #ffffff;
    font-weight: 700;
}
.text-title-core{
    color: #ff6a00;
    font-weight: 700;
}
.text-title-inherited{
    color: #c300ff;
    font-weight: 700;
}
/**Text Color Skill**/

.bg-skill{
    background-color: #2c373d;
    border-radius: 5px;
}
.rank-skill{
    width: 35px;
    margin-left: 15px;
}
/*Tamaño de la fuente de los titulos*/
h4{
    font-size: 25px;
}
/*Style del perfil de las equipamiento*/
/*Container de los equipamientos*/
.equip-valk{
    width: 100px;
    height: 100px;
    border: white 3px solid;
    border-radius: 15px;
}